.buyPackages{
    height: 385px;
    width: 340px;
    padding: 20px 0px 15px;
    background-color: white;
    z-index: 2;
}

.packages__wrapper{
    height: 420px;
}

.package__image{
    padding: 0px 20px;
    margin-bottom: 10px;
}

.package__image img{
    width: 300px;
    height: 303px;
}

.package__title{
    padding: 0px 0px 10px 20px;
    font-size: 22px;
    font-weight: bold;
}

.package__url{
    padding-left: 20px;
    text-decoration: none;
    color: #278798;
}



.row1, .row2{
    width: inherit;
    height: 151px;
    display: flex;
    justify-content: space-evenly;
}

.row1{
    margin-bottom: 15px;
}

.packageOne img{
    width: 140px;
    height: 125px;
}

.packageOne{
    font-size: 13px;
}



@media (max-width: 1450px) and (min-width: 1376px) {

    .buyPackages{
        height: 350px;
        width: 300px;
    }
    .package__image img{
        width: 260px;
        height: 260px;
    }
    .packageOne img{
        width: 115px;
        height: 100px;
    }
    .row1, .row2{
        height: 135px;
    }
    .row1{
        margin-bottom: 5px;
    }
}

@media (max-width: 1376px) and (min-width: 1080px) {
    .buyPackages{
        height: 290px;
        width: 250px;
    }
    .package__image img{
        width: 210px;
        height: 210px;
    }
    .packageOne img{
        width: 100px;
        height: 90px;
    }
    .row1, .row2{
        height: 115px;
    }
    .row1{
        margin-bottom: 5px;
    }
}

@media (max-width: 1080px) {
    .buyPackages{
        height: 350px;
        width: 300px;
    }
    .package__image img{
        width: 260px;
        height: 260px;
    }
    .packageOne img{
        width: 115px;
        height: 100px;
    }
    .row1, .row2{
        height: 135px;
    }
    .row1{
        margin-bottom: 5px;
    }
}