.Home{
    background-color: #E3E6E6;
}

.Home--Banner{
    width: 100%;
}

.Banner__img{
    width: 100%;
    mask-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0.92),rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0));
    margin-bottom: -350px;
    z-index: -1;
}

.productRow__container{
    width: 100%;
    display: flex;
    padding-bottom: 100px;
}

.productRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
    margin-bottom: 150px;
    z-index: 1;
    margin: 0px auto;
}

.productRow > * {
    flex: 1;
}

.packagesInRow{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.banner__buttons{
    display: flex;
    justify-content: space-between;
}

.banner__buttonPrev, .banner__buttonNext{
    z-index: 2;
    margin-top: 3px;
    position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    height: 250px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s ease;
    cursor: pointer;
}

.banner__buttonPrev{
    margin-left: 2px;
}

.banner__buttonPrev:hover, .banner__buttonNext:hover{
    opacity: 1;
    border: 3px solid #278798;
    outline: 3px solid white;
    border-radius: 3px;
}

.banner__buttonNext{
    right: 0;
}



@media (max-width: 1480px) and (min-width: 1376px) {
    .Banner__img{
        margin-bottom: -295px;
    }
}

@media (max-width: 1376px) and (min-width: 1200px) {
    .Banner__img{
        margin-bottom: -240px;
    }
}

@media (max-width: 1200px) and (min-width: 1079px) {
    .Home--Banner, .Home{
        min-width: 1200px;
    }
    .Banner__img{
        margin-bottom: -200px;
    }
    .productRow__container{
        min-width: 1200px;
    }
}

@media (max-width: 1079px) and (min-width: 992px) {
    .Home--Banner, .Home{
        min-width: 1080px;
    }
    .Banner__img{
        margin-bottom: -180px;
    }
    .productRow__container{
        min-width: 1080px;
    }
}

@media (max-width: 992px) {
    .Home{
        min-width: 992px;
    }
    .Banner__img{
        margin-bottom: -160px;
    }
    .Home--Banner{
        min-width: 992px;
    }
    .productRow__container{
        min-width: 992px;
    }
}