.Header *{
    text-decoration: none;
}

.Header{
    display: flex;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #131921;
}

.Header__logo{
    max-height: 100%;
    display: flex;
    align-items: center;
}

.Header__logo img{
    width: 113px;
    margin: 0px 0px 0px 10px;
    padding: 8px 10px 5px;
    border: 2px solid #131921;
    border-radius: 2px;
}

.Header__logo img:hover{
    border-color: white;
}

.Header--textButton__wrapper{
    display: flex;
    width: auto;
    margin: 5px 2px 5px 0px;
    padding: 10px 9px;
    color: #D6D6D6;
    font-family: 'Amazon Ember', Arial, sans-serif;
    align-items: center;
}

.Header__icon{
    margin-top: 13px;
    color: white;
}

.Header__smallText{
    color: #CCCCCC;
    font-size: 0.9rem;
}

.Header__largeText{
    /* font-size: 14px; */
    color: #FFFFFF;
    padding: 0px 0px 1px;
    font-size: 1rem;
    /* font-weight: 800; */

}

.Header--searchBar{
    display: flex;
    color: #0F1111;
    width: auto;
    min-width: 45%;
    margin: 0px 10px;
    padding: 10px 4px 10px 3px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.SearchBar__buttonSelect{
    height: 40px;
    background-color: #e6e6e6;
    border: 1px solid #D6D6D6;
    width: 60px;
    padding: 0px 0px 0px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.SearchBar__buttonSelect:focus{
    outline: none;
    /* padding-left: 10px; */
}

.searchBar__inputParent{
    width: 90%;
}

.searchBar__input{
    width: 100%;
    /* flex-grow: 3; */
    height: 40px;
    /* padding: 7px 10px 10px 0px; */
    padding: 0px 10px;
    border: none;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 14px;
}

.searchBar__input:focus{
    outline: none;
    padding-left: 10px;
}

.SearchBar__searchButton{
    width: 45px;
    height: 40px;
    background-color: #f3a847;
    border: none;
    border-bottom: 1px solid #f3a847;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.SearchBar__searchButton:hover{
    background-color: #f78c00;
}

.Header__language{
    /* min-height: 65px; */
    align-items: center;
    display: flex;
    border: 2px solid #131921;
    border-radius: 2px;
    margin: 3px 0px 8px;
}

.Header__language:hover{
    border-color: white;
}

.language__button{
    display: flex;
    font-size: 16px;
    color: white;
    background-color: #131921;
    border: none;
    margin-top: 15px;
    padding: 0px 9px 5px;
}

.language__button:hover{
    background-color: #131921;
}

.language__button__logo{   
    background-color: white;
    width: 24px;
    /* height: 18px; */
    margin: 5px 4px 1px 0px;
}

.language__buttonIcon{
    margin: 5px 0px 0px -3px;
    color: #D6D6D6;
}

.Header--textButton__wrapper2{
    display: flex;
    color: #D6D6D6;
    margin-top: 3px;
    font-size: 14px;
    /* margin: 5px 0px; */
    padding: 5px 9px 0px;
    text-decoration: none;
}

.Header--textButton__wrapper3{
    display: flex;
    color: #D6D6D6;
    font-size: 14px;
    margin-top: 3px;
    padding: 5px 9px 0px;
}

.Header__shoppingCart{
    display: flex;
    /* min-height: 60px; */
    color: white;
    margin-top: 3px;
    margin-bottom: 7px;
    padding: 0px 10px 0px;
    padding-top: 0px;
    /* margin: 0px 10px 3px 2px;
    padding: 5px 10px 0px; */
    border: 2px solid #131921;
    /* border-radius: 2px; */
    text-decoration: none;
}

.Header__shoppingCart:hover{
    border-color: white;
}

.shoppingCart{
    max-height: 100%;
    /* margin-bottom: 1px; */
    display: block;
    width: 40px;
}

.shoppingCart__icon{
    max-height: 100%;
    margin-top: -12px;
}

.shoppingCart p{
    font-size: 19px;
    color: #f3a847;
    text-indent: 12px;
}

.shoppingCart__text {
    max-height: 100%;
    font-size: 18px;
    /* margin-top: 0px; */
    margin-left: -5px;
}

.Header--textButton__wrapper, .Header--textButton__wrapper2, .Header--textButton__wrapper3{
    border: 2px solid #131921;
    border-radius: 2px;
}

.Header--textButton__wrapper:hover, .Header--textButton__wrapper2:hover, .Header--textButton__wrapper3:hover{
    border-color: white;
}




@media (max-width: 1500px) and (min-width: 1410px){
    .Header--searchBar{
        min-width: 42%;
    }
}

@media (max-width: 1410px) and (min-width: 1362px){
    .Header--searchBar{
        min-width: 40%;
    }
}

@media (max-width: 1362px) and (min-width: 1280px){
    .Header--searchBar{
        min-width: 35%;
    }
}

@media (max-width: 1280px) and (min-width: 1080px){
    .Header--searchBar{
        min-width: 33%;
    }
}

@media (max-width: 1362px) and (min-width: 1080px) {
    .Header {
        min-width: 1200px;
    }
}

@media (max-width: 1079px) and (min-width: 992px) {
    .Header {
        min-width: 1080px;
    }
    .Header--searchBar{
        min-width: 27%;
    }  

    .Header--textButton__wrapper2 .Header__smallText{
        font-size: 0.8rem;
    }
    .Header--textButton__wrapper2{
        padding-bottom: 2px;
    }
    
}


@media (max-width: 992px) {
    .Header {
        min-width: 992px;
    }
    .Header--searchBar{
        min-width: 15%;
    }
    .Header__smallText{
        font-size: 0.7rem;
    }
    .Header__largeText{
        font-size: 0.8rem;
    }
    .Header--textButton__wrapper2{
        padding: 5px 5px 0px;
    }
    .Header--textButton__wrapper3{
        padding: 3px 5px 0px;
    }    
}